 body{
     background-color: powderblue;
 }
 h1 {
    color: blue;
    text-align: center;
    padding: auto;
}

.c{
  color: blue;
  font-size: large;
  background-color: red;
}
h3{
    color: gray;
    text-align: center;
}
input[type=submit],input[type=button]{
  
  width: auto;
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit],a{
  text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  img {
    display: inline-block;
    position: absolute;
    left: 350px;
    height: 80px;
    width: 80px;
  }
 .ab{
   text-align: center;
 }
 .container {
  align-content: center;
  border-radius: 50px;
  background-color: lightyellow;
  padding: 10px;
  margin: 30px;
  top: 100px;
}
  h2{
    font-weight: bold;
    color: green;
    font-size: larger;
    text-align: center;
    background-color: lightpink;
  }
  
  li a, .dropbtn .about{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }